<div class="container-fluid">
    <div class="row">
        <div class="col col-3">
            <app-list-images imagesUrl="./image"></app-list-images>
        </div>

        <div class="col col-6">
            <div class="card">
                <h5 class="card-header">Information about {{imageset.name}}
                    <button [class]="'float-right btn btn-' + (imageset.isPinned ? '' : 'outline-') + 'primary'"
                            (click)="togglePinned()">
                        <i class="fa fa-thumbtack"></i>
                    </button>
                </h5>
                <div class="card-body">
                    <table class="table table-striped table-sm">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{imageset.name}}</td>
                        </tr>
                        <tr>
                            <td>Team</td>
                            <td>{{team.name}}</td> <!-- TODO Figure out how to resolve team -->
                        </tr>
                        <tr>
                            <td>Tags</td>
                            <td *ngIf="imageset.tags.length === 0" class="unimportant">No tags</td>
                            <td *ngIf="imageset.tags">
                                <span *ngFor="let tag of imageset.tags" class="badge">{{tag}} </span>
                            </td> <!-- TODO Link to explore with tag as search -->
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td *ngIf="!imageset.location" class="unimportant">Not set</td>
                            <td *ngIf="imageset.location">{{imageset.location}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td *ngIf="!imageset.description" class="unimportant">Not set</td>
                            <td *ngIf="imageset.description">{{imageset.description}}</td>
                        </tr>
                        <tr>
                            <td>Creator</td>
                            <td>{{creator.username}}</td>
                        </tr>
                        <tr>
                            <td>Image Count</td>
                            <td>{{imageset.numberOfImages}}</td>
                        </tr>
                        <tr>
                            <td>Annotation Count</td>
                            <td>NYI</td> <!-- TODO Count annotations -->
                        </tr>
                        <tr>
                            <td>Download</td>
                            <td>
                                <ul>
                                    <li>
                                        <a routerLink="./">Download zip</a>
                                        <!-- TODO Figure out how to download zips -->
                                    </li>
                                    <li>
                                <span>Use <a routerLink="./">Imagetagger Download Script</a> to download all images
                                to your current directory:</span><br>
                                        <code class="m-3">
                                            ./imagetagger_dl_script.py {{imageset.id}}
                                        </code>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col col-3">
            <div class="card">
                <h5 class="card-header">Annotation Management</h5>
                <div class="card-body">
                    <div class="alert alert-danger">This is not yet implemented</div>
                    <!-- TODO Implement "Annotate whole set" -->
                </div>
            </div>
            <div class="my-2"></div>
            <div class="card">
                <h5 class="card-header">Export Tags to file</h5>
                <div class="card-body">
                    <div class="alert alert-danger">This is not yet implemented</div>
                    <!-- TODO Implement "Export tags to file" -->
                </div>
            </div>
        </div>
    </div>
</div>
